
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
}
@layer components{
   .header{
    @apply bg-[url('./assets/images/mask.png')] bg-no-repeat bg-center bg-cover
   }
   .hero_section{
    @apply bg-[url('./assets/images/hero-bg.png')] bg-no-repeat bg-center bg-cover
   }
   .custom__btn{
    @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600]
   }
}